.cardList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: auto;
}

.card {
  width: 150px;
  height: 230px;
  border-radius: 10px;
  margin: 300px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  opacity: 0;
}

.card:nth-child(odd) {
  background-color: rgb(255, 234, 0);
}

.card:nth-child(even) {
  background-color: yellowgreen;
}

.space {
  height: 200px;
}
