.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 100px;
}

.section {
  width: 90vw;
  height: 80vh;
  background-color: rgb(170, 215, 255);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(70px);
}

.space {
  height: 200px;
}
