.cardList {
  display: flex;
  flex-direction: row;

  gap: 40px;
  margin: auto;
}

.card {
  width: 250px;
  height: 150px;
  background-color: rgb(232, 168, 232);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
